<section id="honorshead">
  <div class="container" style="margin-top: 50px">
   
    <div class="section-title-container">
      <h1 class="section-title honor-title"> ESTIEM LG Minho </h1>
    </div >
  </div>
</section>
<div class="container" style="margin-top: 50px">
  <div class="col-md-12 mx-auto" style="margin-bottom: 100px;">
    <img class="card-img-top center-block img-responsive" src="{% asset_path 'estiem.png' %}" style="max-width: 1000px;">
  </div>

  <div class="col-md-12" style="text-align: center"> 
    <p style="color: black; font-size: medium; font-weight: bold">ESTIEM é a organização europeia de estudantes de Engenharia e Gestão Industrial e o LG Minho é a representação do MIEGI da Universidade do Minho na mesma, podendo ser visto como o departamento de relações internacionais do NEEGIUM.</p>
    <p style="color: black; font-size: medium; font-weight: bold">O LG existe para fomentar e fortalecer as relações dos estudantes do Minho com estudantes de toda a Europa, possibilitando a partilha, não só de conhecimentos nas mais diversas áreas científicas, como também de experiências e momentos. Tudo isto é garantido na ESTIEM através da organização de vários tipos de eventos pelos diversos LG´s existentes na Europa, nos quais todos os estudantes são convidados a participar.</p>
    <p style="color: black; font-size: medium; font-weight: bold">O principal objetivo do LG é funcionar como ponte de ligação entre os estudantes do Minho e todos os eventos, possibilidades e pessoas da organização no resto da Europa, contribuindo, não só para a divulgação dos eventos externos, mas também como principal impulsionador para a organização de eventos pelos próprios estudantes do LG.</p>
  </div>
</div>
<div id="eventss" >
    {% for event in site.data.events %}
    {% if event.pic %}
    <div class="timeline">
      <section id="eventsbody" class="{{event.color}}">
       <div class="container {% cycle 'odd', 'even' %}">
         <div class="content">
           <div class="row">
             <div class="col-md-12">
               <h3 class="event-name">{{ event.name }}</h3>
             </div>
             <div class="col-md-12">
               <img width="300" height="300"src="{% asset_path 'event/{{event.pic}}' %}" class="img-responsive">
             </div>
           </div>
         </div>
       </div>
     </section>
   </div>
    {% endif %}
    {% endfor %}
</div>