<section id="honorshead">
  <div class="container" style="margin-top: 50px">

    <div class="section-title-container">
      <h1 class="section-title honor-title"> Eventos </h1>
    </div >
  </div>
</section>
<div id="eventss" >
    {% for event in site.data.events %}
    {% if event.pic %}
    <div class="timeline">
     <section id="eventsbody" class="{{event.color}}">
      <div class="container {% cycle 'odd', 'even' %}">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <h3 class="event-name">{{ event.name }}</h3>
            </div>
            <div class="col-md-12">
              <img width="300" height="300"src="{% asset_path 'events/{{event.pic}}' %}" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% endif %}
  {% endfor %}

</div>
