<nav class="navbar navbar-custom navbar-fixed-top top-nav-normal" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" id="nav-logo">
        {% image logo.png %}
        <div>
          <span>
            Núcleo de<br>
            Estudantes de<br>
            Engenharia e<br>
            Gestão Industrial<br>
            da UM<br>
          </span>
          </div>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav nav-item">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="nav-text" href="/">Home</a>
          </li>
          <li>
            <a class="nav-text" href="/direcao/">Quem somos ?</a>
          </li>
          <li>
            <a class="nav-text" href="/estiem/">ESTIEM LG Minho</a>
          </li>
          <li>
            <a class="nav-text" href="/events/">Eventos</a>
          </li>
          <li>
            <a class="nav-text" href="/banco_de_sebentas/">Banco de Sebentas</a>
          </li>
          <li>
            <a class="nav-text" href="/partners/">Parcerias</a>
          </li>
        </ul>
      </div>
  </nav>
