#eventshead
  background-attachment: fixed
  background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%)
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  height: 100%
  padding-top: 50px
  color: black
  .honor-title
    margin-bottom: 30px
    border: 3px solid #fafafa
    color: #fafafa
  .section-title-container
    text-align: center
    margin-top: 50px
  .honor-text
    text-align: center
    color: #fafafa

#eventsbody
  background-size: cover
  background-attachment: scroll
  font-size: 1.2em
  font-family: "Lato"
  width: 100%
  height: auto
  text-align: center
  color: #222
  display: block
  background-position: center center
  background-repeat: none
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  &.gray
    background-color: rgba(255,255,255,0.8)
  &.white
    background-color: #fafafa
  .event-img
    border-radius: 100%
    width: 300px
    height: 300px
    margin: auto
    position: relative
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-position: center center
    background-repeat: no-repeat
  .event-info
    display: inline-block
    vertical-align: middle
    float: none
  .event-name
    text-transform: none
    color: #f58032
    font-size: 22px
  .honor-job
    text-transform: none
    font-size: 20px
  .honor-bio
    text-align: justify
    text-justify: inter-word
  .honor-comment
    margin: 20px 0px
    text-align: justify
    text-justify: inter-word
