<section id="bodygrey">
  <div class="container">
      <div class="col-md-9 icons-space vcenter">
        <h6> O <b>NEEGIUM</b> <i>(Núcleo de Estudantes de Engenharia e Gestão Industrial da Universidade do Minho)</i> é o órgão representativo da comunidade de estudantes inscritos no  <b>Mestrado Integrado em Engenharia e Gestão Industrial da Universidade do Minho</b>.</br> Surgiu em 2012, sendo que o seu novo mandato se iniciou em dezembro de 2016.
        </h6>
      </div>

    </div>
</section>

<section id="bodywhite">
  <div class="container">
      <div class="col-md-9 icons-space vcenter">
        <h6>Com uma visão muito mais ativa e dinâmica, o <b>NEEGIUM</b> tem como objetivos:</h6>
      </div>
      <div class="col-md-5 icons-space vcenter">
          <ul>
              <li>Defender os interesses dos alunos inscritos no curso;</li>
              <li>Fomentar os relacionamentos entre todos os alunos;</li>
              <li>Fornecer aos alunos a oportunidade de estarem em contacto com o mundo empresarial;</li>
              <li>Criar relações fortes entre empresas e o <b>NEEGIUM;</b></li>
              <li>Organizar formações e workshops de modo a ajudar o desenvolvimento dos alunos;</li>
          </ul>
          <h5>Para além destes aspetos, o <b>NEEGIUM</b> incorpora o grupo da <b>ESTIEM Local Group Minho</b><i> ( European Students of Industrial Engineering and Management)</i>, proporcionando visibilidade a nível europeu.<h5>
      </div>
  </div>
</section>
<section id="bodygrey">
  <div class="container">
      <div class="col-md-5 icons-space vcenter">
          <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
          <h4>Quem pode participar?</h4>
          <h6>Estudantes do ensino superior português, público ou privado e profissionais recém-licenciados, ligados à área da Saúde ou Informática.
          No entanto, os estudantes têm prioridade na obtenção de vagas.</h6>
      </div>
  </div>
</section>
<section id="bodywhite">
  <div class="container">
    <div class="col-md-9 icons-space vcenter">
      <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
      <h4>As inscrições podem ser feitas individualmente, ou em equipas de 5 elementos no máximo. A equipa tem no entanto de ser mista. Deve ter no mínimo 2 elementos da área de saúde e 2 de informática com pelo menos 1 de Medicina. Elementos que não formem uma equipa completa serão adicionados a outras equipas.</h4>
    </div>
  </div>
</section>
<section id="bodygrey">
  <div class="container">
          <div class="col-md-7 icons-space vcenter">
            <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
            <h4>Mais informações</h4>
            <h6>Consulte o
              <a href="http://heartbits.pt/regulamento.pdf">regulamento</a>  ou contacte-nos no
              <a href="https://www.facebook.com/HackathonHeartbits/">Facebook</a>.
            </h6>
          </div>
  </div>
</section>
