<section id="bodywhite">
  <div class="container">
      <div class="col-md-9 text-container vcenter">
      <!--<i class="fa fa-heartbeat fa-5x" aria-hidden="true"></i> --!>
        <h5> O NEEGIUM(Núcleo de Estudantes de Engenharia e Gestão Industrial da Universidade do Minho) é o órgão representativo da comunidade de estudantes inscritos no  Mestrado Integrado em Engenharia e Gestão Industrial da Universidade do Minho.</br> Surgiu em 2012, sendo que o seu novo mandato se iniciou em dezembro de 2016.
        </h5>
      </div>

    </div>
</section>

<section id="bodygrey">
  <div class="container">
      <div class="col-md-5 icons-space vcenter">
        <i class="fa fa-map-o fa-5x vcenter" aria-hidden="true"></i>
        <h6>No Hospital de Braga do dia 18 às 18 horas até às 20h do dia 19 de Novembro de 2017.</h6>
      </div>
  </div>
</section>
<section id="bodygrey">
  <div class="container">
      <div class="col-md-5 icons-space vcenter">
          <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
          <h4>Quem pode participar?</h4>
          <h6>Estudantes do ensino superior português, público ou privado e profissionais recém-licenciados, ligados à área da Saúde ou Informática.
          No entanto, os estudantes têm prioridade na obtenção de vagas.</h6>
      </div>
  </div>
</section>

<section id="bodywhite">
  <div class="container">
    <div class="col-md-9 icons-space vcenter">
      <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
      <h6>As inscrições podem ser feitas individualmente, ou em equipas de 5 elementos no máximo. A equipa tem no entanto de ser mista. Deve ter no mínimo 2 elementos da área de saúde e 2 de informática com pelo menos 1 de Medicina. Elementos que não formem uma equipa completa serão adicionados a outras equipas.</h6>
    </div>
  </div>
</section>
<section id="bodygrey">
  <div class="container">
          <div class="col-md-7 icons-space vcenter">
            <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
            <h4>Mais informações</h4>
            <h6>Consulte o
              <a href="http://heartbits.pt/regulamento.pdf">regulamento</a>  ou contacte-nos no
              <a href="https://www.facebook.com/HackathonHeartbits/">Facebook</a>.
            </h6>
          </div>
  </div>
</section>
