<div id="tudo">
    
  <section id="staffhead">
      <div class="section-title-container">
          <h1 class="section-title staff-title"> Quem somos ? </h1>
      </div >
  </section>


  <section id="stafftitle">
    <div class="section-title-container">
        <h1 class="section-title staff-title"> Direção </h1>
    </div >
  </section>
  <section id="staff">
    <div class="container" style="margin-top: 50px;">
      
      <div class="row ">

        <div id="lista" class="col-md-6 col-sm-4 col-1 card mx-auto" style="margin-bottom: 50px">
          <div class="card-body">
            <h3 class="everything" data-aos="fade-left" data-aos-duration="1000"> E Q U I P A . </h3>
            <h3 class="everything" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500"> T R A B A L H O . </h3>
            <h3 class="everything" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000"> C O M P R O M I S S O . </h3>
          </div>
        </div>

      {% for staff in site.data.staff %}
      {% if staff.pic %}
      <div class="col-md-3 col-sm-4 col-1 card mx-auto" style="margin-bottom: 100px;" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="200" data-aos-offset="-50">
        <img class="card-img-top center-block img-responsive" src="{% asset_path 'staff/{{ staff.pic }}' %}" style="max-width: 200px; border-radius: 80%;">
        <div class="card-body">
            <h5 class="card-title" style="color: black; text-align: center">{{ staff.name }}</h5>
              {% if staff.job %}
                <p class="card-text" style="color: black; text-align: center"> {{ staff.job }}</p>
              {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    </div>
  </section>
  
  <section id="stafftitle">
      <div class="section-title-container">
          <h1 class="section-title staff-title"> ESTIEM LG Minho </h1>
      </div >
    </section>
  
    <section id="honorsbody">
      <div class="container" style="margin-top: 50px">
        {% for member in site.data.estiem %}
        {% if member.pic %}
        <div class="col-md-3 col-sm-4 col-1 card mx-auto" style="margin-bottom: 100px;" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="200" data-aos-offset="-50">
            <img class="card-img-top center-block img-responsive" src="{% asset_path 'honors/{{ member.pic }}' %}" style="max-width: 200px; border-radius: 80%;">
            <div class="card-body">
                <h5 class="card-title" style="color: black; text-align: center">{{ member.name }}</h5>
                  {% if member.job %}
                    <p class="card-text" style="color: black; text-align: center"> {{ member.job }}</p>
                  {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </section>

  <section id="stafftitle">
    <div class="section-title-container">
        <h1 class="section-title staff-title"> Assembleia Geral </h1>
    </div >
  </section>

  <section id="honorsbody">
    <div class="container" style="margin-top: 50px">
      {% for member in site.data.ag %}
      {% if member.pic %}
      <div class="col-md-3 col-sm-4 col-1 card mx-auto" style="margin-bottom: 100px;" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="200" data-aos-offset="-50">
          <img class="card-img-top center-block img-responsive" src="{% asset_path 'honors/{{ member.pic }}' %}" style="max-width: 200px; border-radius: 80%;">
          <div class="card-body">
              <h5 class="card-title" style="color: black; text-align: center">{{ member.name }}</h5>
                {% if member.job %}
                  <p class="card-text" style="color: black; text-align: center"> {{ member.job }}</p>
                {% endif %}
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <section id="stafftitle">
    <div class="section-title-container">
        <h1 class="section-title staff-title"> Conselho Fiscal </h1>
    </div >
  </section>

  <section id="honorsbody">
    <div class="container" style="margin-top: 50px">
      {% for member in site.data.cf %}
      {% if member.pic %}
      <div class="col-md-3 col-sm-4 col-1 card mx-auto" style="margin-bottom: 100px;" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500" data-aos-delay="200" data-aos-offset="-50">
          <img class="card-img-top center-block img-responsive" src="{% asset_path 'honors/{{ member.pic }}' %}" style="max-width: 200px; border-radius: 80%;">
          <div class="card-body">
              <h5 class="card-title" style="color: black; text-align: center">{{ member.name }}</h5>
                {% if member.job %}
                  <p class="card-text" style="color: black; text-align: center"> {{ member.job }}</p>
                {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

</div>
